@include font-face("Platform-regular", font-files("Platform-Regular.ttf", "Platform-Regular.otf", "Platform-Regular.eot","Platform-Regular.woff"));
@include font-face("Platform-medium", font-files("Platform-Medium.ttf", "Platform-Medium.otf","Platform-Medium.eot","Platform-Medium.woff"));
@include font-face("Platform-bold", font-files("Platform-Bold.ttf", "Platform-Bold.otf","Platform-Bold.eot","Platform-Bold.woff"));


h1, h2, h3, h4, h5, h6, ul, ol,li{
	margin:0;
	font-weight:normal;
}

h1, h2, h3{
	font-family:Platform-regular, Helvetica, sans-serif;
}

a{
	text-decoration:none;

	&.hover{
		text-decoration:underline;
	}
}

ul{
	padding:0;
	list-style:none;
}

img{
	max-width:100%;
}

input[type=submit],
input[type=reset],
input[type=button],
input[type=search]
{
       filter:none;
}

.row{
	min-width:748px !important;
}

body{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 11px;
	margin:0;

	.ch-container{
		margin:0 auto;
		padding: 0 10px;
	}
}

/*--- Fija ancho mínimo 700px ---*/

@media only screen and (max-width:700px){

	.ch-container, .ch-megamenu-box, .ch-main-footer{
		width:680px !important;
	}

}

/*--- Ajusta al ancho del dispositivo ---*/

/*@media only screen and (max-device-width : 1300px){
	.ch-container{
		width: auto;
	}
}
*/
